[Unit]
Description=Dockerized gopherclub
After=docker.service
Requires=docker.service
[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/opt/gopherclub
ExecStart=/usr/local/bin/docker-compose -f /opt/gopherclub/docker-compose.yml up -d
ExecStop=/usr/local/bin/docker-compose -f /opt/gopherclub/docker-compose.yml down
[Install]
WantedBy=multi-user.target
