[Unit]
Description=gopherclub
[Service]
USER=gopherclub
GROUP=gopherclub
Environment=GOPHERCLUB_APP_ROOT=/home/gopherclub/gopherclub
Environment=GOPHERCLUB_HASH_KEY=CRKVBJs0kfyeQ9Y1
Environment=GOPHERCLUB_BLOCK_KEY=9LtmRLzVH27CwxrO
WorkingDirectory=/home/gopherclub/gopherclub
ExecStart=/home/gopherclub/gopherclub/gopherclub
Restart=always
[Install]
WantedBy=multi-user.target
